{{#ncm-init}}
  {{!-- <audio loop autoplay id="bg-loop">
    <source src="./loop_song_makena.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio> --}}
  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
          <div class="navbar-header">
              {{!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                  Menu <i class="fa fa-bars"></i>
              </button> --}}
              {{#goto-btn href="#noclearmind" class="navbar-brand"}}no clear mind{{/goto-btn}}


          </div>
          <button type="button" class="btn mute-btn {{if isMobile 'hidden'}}" {{action "toggleMute"}}>
            {{#if isMuted}}
              <i class="fa fa-volume-up" aria-hidden="true"></i>
            {{else}}
              <i class="fa fa-volume-off" aria-hidden="true"></i>
            {{/if}}
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          {{!-- <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                  <li class="hidden">
                    {{#goto-btn href="#noclearmind"}}home{{/goto-btn}}
                  </li>
                  <li>
                    {{#goto-btn href="#about"}}about{{/goto-btn}}
                  </li>
                  <li>
                    {{#goto-btn href="#releases"}}releases{{/goto-btn}}
                  </li>
                  <li>
                    {{#goto-btn href="#photos"}}photos{{/goto-btn}}
                  </li>
                  <li>
                    {{#goto-btn href="#contact"}}contact{{/goto-btn}}
                  </li>
              </ul>
          </div> --}}
          <!-- /.navbar-collapse -->
      <!-- /.container -->
  </nav>

  

  <!-- Intro Header -->
  <header class="intro">
      <div class="fullscreen-bg hidden-xs">
          <video loop autoplay id="fs-video">
              {{!-- <source src="./makena.mp4" type="video/mp4"> --}}
          </video>
      </div>
      <div class="overlay" id="overlay"></div>
      <div class="intro-body">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                      <h1 class="brand-heading animated fadeIn">
                        <span>no clear mind</span>
                      </h1>
                      <p class="intro-text"></p>
                      
                  </div>
              </div>
          </div>
      </div>
      <div class="socials">
        <ul>
          <li class="social">
            <a href="https://www.facebook.com/NoClearMind" target='_blank'>
              <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social">
            <a href="https://www.youtube.com/channel/UCEfQbbyCnBaRtNPGivvqu9A" target='_blank'>
              <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social">
            <a href="https://soundcloud.com/noclearmind" target='_blank'>
              <i class="fa fa-soundcloud fa-2x" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social">
            <a href="https://noclearmind.bandcamp.com/music" target='_blank'>
              <i class="fa fa-bandcamp fa-2x" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social">
            <a href="https://itunes.apple.com/us/artist/no-clear-mind/id638574129" target='_blank'>
              <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
                <i class="fa fa-music" aria-hidden="true"></i>
              </span>
            </a>
          </li>
          <li class="social">
            <a href="https://open.spotify.com/artist/2GkzAz3xr5IasfL5ukwDb9" target='_blank'>
              <i class="fa fa-spotify fa-2x" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social">
            <a href="mailto:noclearmind@gmail.com?Subject=Hello%20noclearmind" target="_top">
              <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      {{#goto-btn href="#about" class="btn btn-circle hidden-xs"}}
        <i class="fa fa-angle-down"></i>
      {{/goto-btn}}
  </header>

  <!-- About Section -->
  <section id="about" class="container content-section text-justify">
      <div class="row">
          <div class="col-xs-12">
            <p>
              No Clear Mind is a Greek band based between Athens and London. Their music traverses the wider spectre of rock, with heavy influences from genres such as ambient and psychedelic dream rock. They have released two full length albums, toured different countries in Europe and gained followers from all around the world.
            </p> 

            <p>
              Like they use to do, they reintroduce themselves through their ambitious third LP, Makena. Striving over total creative control and experimentation, the Greeks opted to record, mix and produce the album by themselves. They recorded live inside an old stone barn in South Greece.
            </p>

            <p>
              Makena is coming out December 1st on 12" vinyl and digital. Preorders can be found on their official Bandcamp page.
            </p>
            {{!-- <p>
              No Clear Mind introduce themselves through their ambitious third LP, Makena. Striving over total creative control and experimentation, the Greeks opted to record mix and produce the album by themselves. They recorded live inside an old stone barn in South Greece, resulting in a dense multi-layered album, whose sound proves difficult to pigeonhole. Makena‘s themes are mostly introspective. The songs are structured around laid-back vocal melodies complimented by lush analogue synthesized soundscapes of an imaginary 70ʼs soundtrack, along with guitars that evoke the ambiance of Radioheadʼs recent work. The rhythmic driving power behind the album though, lies in the counterpoint between an elaborate mixture of syncopating guitars and pumping acoustic and electronic beats inspired by Tropical and African rhythms.
            </p> --}}
          </div>
      </div>
  </section>

  <!-- player Section -->
  <section id="player" class="content-section text-center">
      <div class="player-section">
          <div class="container">
              <div class="row">
                <div class="col-xs-12" id="soundcloud_player">
                    {{sc-player url=(readonly "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/279659215") onEnterView=(action "toggleMute") onExitView=(action "toggleMute") autoplay=(readonly false) class="makena-player"}}
                    {{!-- {{bc-player onEnterView=(action "toggleMute") onExitView=(action "toggleMute")}} --}}
                </div>
              </div>
              <div class="row rest-players">
                <div class="col-md-6" id="soundcloud_player">
                    {{sc-player url=(readonly "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/194559477") onEnterView=(action "toggleMute") onExitView=(action "toggleMute") autoplay=(readonly false)}}
                    {{!-- {{bc-player onEnterView=(action "toggleMute") onExitView=(action "toggleMute")}} --}}
                </div>
                <div class="col-md-6" id="soundcloud_player">
                    {{sc-player url=(readonly "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1428970") onEnterView=(action "toggleMute") onExitView=(action "toggleMute") autoplay=(readonly false)}}
                    {{!-- {{bc-player onEnterView=(action "toggleMute") onExitView=(action "toggleMute")}} --}}
                </div>
              </div>
          </div>
      </div>
  </section>

  <!-- photos Section -->
  {{!-- <section id="photos" class="content-section text-center">
      <div class="photos-section">
          <div class="container">
              <div class="col-lg-8 col-lg-offset-2">
                  <h2>photos</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
          </div>
      </div>
  </section> --}}

  <!-- Contact Section -->
  {{!-- <section id="contact" class="container content-section text-center">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <h2>Contact Start Bootstrap</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p><a href="mailto:info@noclearmind.com">n@clearmind.com</a>
              </p>
              <ul class="list-inline banner-social-buttons">
                  <li>
                      <a href="https://soundcloud.com/noclearmind" class="btn btn-default btn-lg"><i class="fa fa-soundcloud" aria-hidden="true"></i> <span class="network-name">Soundcloud</span></a>
                  </li>
                  <li>
                      <a href="/" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                  </li>
                  <li>
                      <a href="/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                  </li>
              </ul>
          </div>
      </div>
  </section> --}}


  <!-- Footer -->
  <footer>
      <div class="container text-center">
          <p>Copyright &copy; noclearmind.com {{currentYear}}. Design by Akis.</p>
      </div>
  </footer>
{{/ncm-init}}
